# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Entornos virtuales
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Audio generado / pruebas
# =========================
*.wav
*.mp3
*.ogg
*.flac

# =========================
# Modelos de Machine Learning
# =========================
*.onnx
*.onnx.data
*.pt
*.pth
*.h5
*.keras

# =========================
# Bases de datos locales
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Python / herramientas
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporales
# =========================
*.tmp
*.temp

# =========================
# Temporales
# =========================
*.tmp
*.temp
temp_transcripcion.txt
tem_transcripcion.txt